/* #choropleth_map {
	margin-top: 100px;
	margin-left: 80px;
} */

/* #choropleth_map {
	margin-top: 10px;
	margin-left: -40px;
} */

#choropleth_map {
	margin-top: 2px;
	margin-left: 22px;
}

#heatmap {
 margin-left: -10px;
}

#bubble_plot {
	margin-top: 10px;
	/* margin-bottom: 20px; */
}

#line_chart {
	margin-top: 5px;
}

